@media screen{
    html{
        filter: invert(100%) hue-rotate(180deg) !important;
        background-color: #000000 !important;
    }
    /*brightness(90%) contrast(90%) grayscale(20%) sepia(30%)*/
    img, video, canvas, iframe {
        filter: invert(100%) hue-rotate(180deg) !important;
    }
}

